body {
    background: #081113;
    font-family: 'Rajdhani',  serif;
    font-size: 1.4rem;
    color: #e5e6e6;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list > li {
  font-size: 26px;
  padding: 10px  60px;
  color: #8AB1B7;
}

/** header **/
.header{
  height: 100px;
  padding: 0 20px;
  color: #ffffff;
  opacity: 0;
  animation: drop-up 1000ms;
  animation-delay: 1500ms;
  animation-fill-mode: forwards;
}

.menu{
  line-height: 100px;
  text-align: center;
}

.menu a{
  color: #ffffff;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
  font-weight: bold;
  font-size: 30px;
}

.show-menu-btn i{
  line-height: 100px;
}
.menu > a:hover {
  color: #58B3C3;
}

.pc-menu {
  color: #ffffff;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
  font-weight: bold;
  font-size: 30px;
}

.sp-menu {
  display: none;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

#content{
  width: 100%;
  height: 100vh;
  padding: 0 150px;
  margin: 0 auto;
  display: none;
}

footer{
  padding: 40px;
}

@keyframes drop-down {
  0% {
    transform: translateY(-70%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes drop-up {
  0% {
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}



@media screen and (max-width: 800px) {
  #content{
    width: 100%;
    padding: 0 20px;
    display: none;
  }

  .header{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background: #000000;
    animation: unset;
    opacity: .7;
    height: 10%;
  }

  .menu{
    line-height: 40px;
    text-align: center;
    padding: 10px 0;
    overflow: hidden;

  }

  .pc-menu {
    display: none;
  }

  .sp-menu {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 0 60px;
    transition: 0.4s;
    font-weight: bold;
    font-size: 30px;
    float: left;
    width: 20%;
  }

  @keyframes unset {
    0% {
      transform: none;
    }
    100% {
      transform: none;
    }
  }
}
